// COLORS
// Color palette
$primary: #e50914;
$secondary: #f5f5f1; 
$dark: #221f1f;
$light: #ffffff;
$info: #778ad4;
$success: #23b893;
$warning: #f79926;
$danger: #ea535a;
// GLOBAL OPTIONS
// Shadows
$enable-shadows: true;
