// COLORS
// Color palette
//$primary: #e50914;
$primary: #81c408;
//$secondary: #4a2e2f; 
$secondary: #ffb524; 
$my: #4a2e2f;
//$dark: #45595b;
$dark: #45595b;
//$light: #f4f6f8;
$light: #f4f6f8;
// GLOBAL OPTIONS
// Shadows
$enable-shadows: true;

$body-color: #747d88;

$headings-color: $dark;

$headings-font-weight: 600;

$display-font-weight: 800;

$enable-responsive-font-sizes: true;

$border-radius: 10px;

$border-radius-sm: $border-radius;

$border-radius-lg: $border-radius;

$link-decoration: none;

$enable-negative-margins: true;
